@import "tailwindcss";

:root{
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}


*{
    box-sizing: border-box;
}

body{
    background-color: var(--stone-100);
    height: auto;
    display: flex;
    align-items: center;
}

article{
    background-color: var(--white);
    height: auto;
    border-radius: 15px;
    max-width: 900px;
}

h1{
    font-family: "Young Serif", serif;
    font-weight: 700;
    line-height: 1;
}

#resume{
    color: var(--stone-600);
    font-family: "Outfit", sans-serif;  
    font-weight: 300;
    font-size: 16px;
}

#preparation{
    background-color: var(--rose-50);
}

h3{
    color: var(--rose-800);
    font-family: "Outfit", sans-serif;  
    font-weight: 600;
    font-size: 22px;
}

#preparation-list > li{
    font-family: "Outfit", sans-serif;
    color: var(--stone-600);
    list-style-type: disc;
    list-style-position:inside;
    font-size: 16px;
}

#preparation-list > li::marker{
    color: var(--rose-800);
}

strong{
    color: var(--stone-600);
}

h2{
    font-family: "Young Serif", serif;
    color: var(--brown-800);
    font-weight: 800    ;
    font-size: 50px;
}

#ingredients-list > li{
    font-family: "Outfit", sans-serif;
    color: var(--stone-600);
    list-style-type: disc;
    list-style-position:initial;
    font-size: 16px;
}

#ingredients-list > li::marker{
    color: var(--brown-800);
    list-style-position: inside;
}

ol > li{
    font-family: "Outfit", sans-serif;
    list-style-type:decimal;
    list-style-position: inherit;
    color: var(--stone-600);
    font-size: 16px;
}

ol > li::marker{
    color: var(--brown-800);
    font-weight: 400;
}

.li-inst{
    color: var(--stone-600);
}

p{
    color: var(--stone-600);
    font-family: "Outfit", sans-serif;  
    font-weight: 300;
    font-size: 16px;
}



.table-value{
    color: var(--brown-800);
}

.table-title{
    color: var(--stone-600);
}

tr{
    border-bottom: 1px solid var(--stone-150);
}

tr > th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}