<div class="pb-0.5">
  <h1 class="text-6xl">Simple Omelette Recipe</h1>
  <p id="resume" class="pt-8">
      An easy and quick dish, perfect for any meal. This classic omelette combines beaten eggs cooked 
      to perfection, optionally filled with your choice of cheese, vegetables, or meats.
  </p> 
</div>   