---
const instrucciones = [
  {
    title: "Beat the eggs: ",
    text: "In a bowl, beat the eggs with a pinch of salt and pepper until they are well mixed. You can add a tablespoon of water or milk for a fluffier texture."
  },
  {
    title:"Heat the pan: ",
    text: "Place a non-stick frying pan over medium heat and add butter or oil."
  },
  {
    title: "Cook the omelette:",
    text: "Once the butter is melted and bubbling, pour in the eggs. Tilt the pan to ensure the eggs evenly coat the surface."
  },
  {
    title: "Add fillings (optional): ",
    text: "When the eggs begin to set at the edges but are still slightly runny in the middle, sprinkle your chosen fillings over one half of the omelette."
  },
  {
    title: "Fold and serve: ",
    text: "As the omelette continues to cook, carefully lift one edge and fold it over the fillings. Let it cook for another minute, then slide it onto a plate."
  },
  {
    title: "Enjoy: ",
    text: "Serve hot, with additional salt and pepper if needed."
  }
]
---

<section class="mt-12">
    <h2>Instructions</h2>
    <ol class="mx-8">
      {
        instrucciones.map(instruccion => {
          return <li class="pl-9 py-3"><strong class="li-inst">{instruccion.title}</strong>{instruccion.text}</li>
        })
      }
    </ol>
  </section>