---
const nutrientes=[
  {
    title: "Calories",
    value: "277kcal"
  },
  {
    title: "Carbs",
    value: "0g"
  },
  {
    title: "Protein",
    value: "20g"
  },
  {
    title: "Fat",
    value: "22g"
  }
]
---

<section class="mt-12">
    <h2>Nutrition</h2>
    <p class="py-6">The table below shows nutritional values per serving without the additional fillings.</p>

    <table class="w-1/1 px-10">
      
        {
          nutrientes.map(nutriente => {
            return(
              <tr class="py-10">
                <th class="table-title">{nutriente.title}</th>
                <th class="table-value">{nutriente.value}</th>
              </tr>
            )
          })
        }
      
    </table>
  </section>