---
import Hero from '../components/Hero.astro';
import Ingredients from '../components/Ingredients.astro';
import Instructions from '../components/Instructions.astro';
import Preparation from '../components/Preparation.astro';
import Nutrition from '../components/Nutrition.astro';
---

<div class="p-10">
    <Hero/>
    <Preparation/>
    <Ingredients/>
    <Instructions/>
    <Nutrition/>
</div>